#mainColumn {
  textarea {
    min-height: 250px;
  }
  #donateEntries {
    h1 {
      margin-bottom: 5px;
    }
    textarea {
      resize: none;
      min-height: 0;
      height: auto !important;
    }
  }
}
