#latestJournalPosts {
  h1 {
    font-weight: bold;
  }
  a:first-child {
    h1 {
      margin-top: 5px;
    }
  }
  a:not(:first-child) {
    h1 {
      margin-top: 10px;
    }
  }
}

#mainColumn {
  img {
    margin-top: 10px !important;
    @media (min-width: 769px) {
      padding-bottom: 5px !important;
    }
  }
  .columns :first-child {
    @media (max-width: 768px) {
      padding-bottom: 0px !important;
    }
  }
}
