{% extends "layout.html" %}

{% block title %}
  Donate - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.min.css') }}">
{% endblock %}

{% block mainColumnTitle %}
  Donate
{% endblock %}

{% block mainColumn %}
  <div id="thankYou">
    <center>Thank you!</center>
    <center><i class="fas fa-thumbs-up"></i></center>
  </div>
  {{ super() }}
  <p>I do not necessarily check the wallet balances that often. So if you want to make sure I discover your donation, then you are welcome to send me an e-mail together with your transaction. :)</p>
  <h1 class="is-size-4">Donate using cryptocurrencies</h1>
  <div id="donateEntries" class="columns is-multiline">
    {% for donateEntry in donateList %}
      <div class="column is-full-tablet is-half-desktop is-one-third-fullhd">
        <h1 class="is-size-5">{{ donateEntry.name }}</h1>
        <img src="{{ url_for('static', filename=['img/donate-qr-codes/', donateEntry.identifier, '-donate-frederik-stroem.png']|join) }}">
        <textarea class="textarea" readonly onclick="this.select()">{{ donateEntry.address }}</textarea>
      </div>
    {% endfor %}
  </div>
  <h1 class="is-size-4">Donate using PayPal</h1>
  <p>You can donate with PayPal using my e-mail address frederikstroem@pm.me, or by using my <a href="https://paypal.me/frederikstroem" target="_blank">PayPal.Me address</a>.</p>
  <h1 class="is-size-4" style="margin-bottom: 5px;">Addresses PGP signed</h1>
  <textarea class="textarea" readonly onclick="this.select()">-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Bitcoin: 16iT3hdUnScaYqfqggqbLWQGx5VtRwTGxC
Bitcoin (SegWit): bc1qt9d49p3gz5yfwtyte3v8kr49upllk3t233vs7w
Monero: 429U6JMXkhs94HmBH8oiJxgTDRZCRtUfVaq2kAPUpmn9P6vC2M8vjiHRVjJsxcacXkhANBeDYognpT4FDq4tDThn682sdVQ
Ethereum: 0xdf2Cd69FB4DdF7a7A3f4a8FCADf4Df58948CD691
Litecoin: ltc1qzmf9e5snzd79yh4g6h6y4q39nxm4jl77uprp8h
Nano: nano_1ojj6pahqweigt1614z9ax1zqc4doig8dbe9tcqq9tqhtgtxsmwfyc3okpe1

PayPal e-mail: frederikstroem@pm.me

-----BEGIN PGP SIGNATURE-----

iQIzBAEBCgAdFiEE8FH/5AEPt3gihGBziG/LXY9wzfkFAl5idVEACgkQiG/LXY9w
zfmW9Q/+OiTiyFU4Z6i++7h65l/Dlux2jOKnypQxEXrLyjdtKXGHjN6bRXCLGvmo
GatagbWFggahr6mm89EtxJD/XaKzOv2v0PSK3jmqeOLKweZ9KQPAJUny1hirVNxQ
RFjCUXd7rVgLddwV5CpW5LPVlEaiS+QgU4mAZRp7Oc7wRKqfR1yiiVJJyod8Yxt6
M4REhyb2/1gOF9MH3DCQr8Q1aaC+W3jeDEbNX/Zsl7Ke9Qt1w/olwlz8CMdVsFQR
a/AnWqZEPKwHnqDGhJQWqnwpb5KfrOjNA3Zcl7crznIhzmM2SKTA2wd601d3vero
6ANIhQ2tTrQzR7cxEJke5yHPkR6+56kXM0uFehEXTFu7O969xLnohLQAhuE0S4Fs
uHk2GJgeB/ewzGvDz//EKmbB/JKuq8jPlEO/Wr+GKPNMqCnt0ILd1lWttVQceJEu
nQlF0t6UU41BU2+ZTsZeLHLso3zUdnX11HL+9hPdMVmvVNysgEQDCJAICHnnQ2ib
Tq3MB5fFwkTyJbhAy+lHu8lodGhZGZ5ab9oVBLJ5EnXb9oke17Cu9p7+wB9v8fiu
UAHh6Xjd4x0vucF5+x8d+/93kLgvrxjyPiFgnBg6Y2GwS0i7OsLDzz4tytqVv5eO
D+/Re2tUXobeXwKgyGUrnnikDhTvCew2iu7qxiFPuVDQN+nFnpc=
=7dMc
-----END PGP SIGNATURE-----</textarea>
{% endblock %}
