{% extends "layout.html" %}

{% block title %}
  Donate - {{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donate.min.css') }}">
{% endblock %}

{% block mainColumnTitle %}
  Donate
{% endblock %}

{% block mainColumn %}
  {{ super() }}
  <p>I do not necessarily check the wallet balances that often. So if you want to make sure I discover your donation, then you are welcome to send me an e-mail together with your transaction. :)</p>
  <h1 class="is-size-4">Donate using cryptocurrencies</h1>
  <div id="donateEntries" class="columns is-multiline">
    {% for donateEntry in donateList %}
      <div class="column is-full-tablet is-half-desktop is-one-third-fullhd">
        <h1 class="is-size-5">{{ donateEntry.name }}</h1>
        <img src="{{ url_for('static', filename=['img/donate-qr-codes/', donateEntry.identifier, '-donate-frederik-stroem.png']|join) }}">
        <textarea class="textarea" readonly onclick="this.select()">{{ donateEntry.address }}</textarea>
      </div>
    {% endfor %}
  </div>
  <h1 class="is-size-4">Donate using PayPal</h1>
  <p>You can donate with PayPal using my e-mail address frederikstroem@pm.me, or by using my <a href="https://paypal.me/frederikstroem" target="_blank">PayPal.Me address</a>.</p>
  <h1 class="is-size-4" style="margin-bottom: 5px;">Addresses PGP signed</h1>
  <textarea class="textarea" readonly onclick="this.select()">-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Bitcoin: bc1qt9d49p3gz5yfwtyte3v8kr49upllk3t233vs7w
Ethereum: 0xdf2Cd69FB4DdF7a7A3f4a8FCADf4Df58948CD691
Monero: 429U6JMXkhs94HmBH8oiJxgTDRZCRtUfVaq2kAPUpmn9P6vC2M8vjiHRVjJsxcacXkhANBeDYognpT4FDq4tDThn682sdVQ
Litecoin: ltc1qzmf9e5snzd79yh4g6h6y4q39nxm4jl77uprp8h
Nano: nano_1ojj6pahqweigt1614z9ax1zqc4doig8dbe9tcqq9tqhtgtxsmwfyc3okpe1

PayPal e-mail: frederikstroem@pm.me

-----BEGIN PGP SIGNATURE-----

iQIzBAEBCgAdFiEE4ygiPt7zJWadhHRHd3mncusotmsFAl3RV8IACgkQd3mncuso
tmui0g/+ON0O7II65YKQJqpvTIIqtwawzElTjey583UEFfSKsRzvGvEZgw41G7md
lv58at0jAGvG5Dk95VABx2EKEoeIyeQ1WOoYfTm/pqHbvKZbe6SEBXq8Rp6Lpb7y
diRr+INQiVLaGmyIWuTIYyR/g2fh42bYVbOKcWDXTMKaQMPSeqxzz5BSu9R+cMfT
eHvBqGUCVyQ/oHWtv4Tj55Ul2XUnBAMk4j7vBly9/mB9YDE5fGpksGr4GIbzaiNf
kIhGXK7B8qGWLfcwo8jjMlOCQBRMvWQ/t6FRQfIMrMz+pAGXl45t/swKT43yOWhg
fVl87GIrvuLQB8vc8+c8fOtrbcuaBN+24yJ1DYfvKP9YTsLMklN7zdZCvS2mEAFU
nyDW7ZkRgy1M7wECD+OgYSPIxBPs+CsP1G803CnNcmkmHMcG4cVol4RmauiheA6A
IoJ/GIXjvqSiKtbczlvc75yr5lM10WsTJvPPukqGzVFygqn4HleGnKnzW9Py/gH/
ZyRnqxmHAhBfODDIX6X0onM0npoxoFpvIORzBVxekl8tu2Y60x3C58vy8Ol9Ku/j
gm3OVZAFnkTn4b+cKukqQofY71JO+0CJ1bO9+zhtG0FTaX5A0GdJ54mQtIAQe/5u
J0aHPNy9hbL0SFlY2388PtmpD6pmq5Nipis/zGXXP81S1Pbu0Ng=
=+Qov
-----END PGP SIGNATURE-----</textarea>
{% endblock %}
