{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.min.css') }}?2019_05_31">
{% endblock %}

{% block mainColumn %}
  <div class="columns is-multiline">

    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
      <img id="homepagePicture" src="{{ url_for('static', filename='img/identicon.svg') }}" alt="">
    </div>

    <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
      <h1 class="is-size-4">Latest journal posts</h1>
      <div id="latestJournalPosts">
        {% for post in latestPosts %}
          <a href="{{ post.link }}">
            <h1>{{ post.title }}</h1>
            <p>
              {{ post.summary|safe }}
              <span class="date">{{ post.updated }}</span>
            </p>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="column is-full-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
      <h1 class="is-size-4">Latest Mastodon toots</h1>
      <p id="lastMastodonFetch">Updated: {{ latestMastodonToots.dataFetchedTime }}</p>
      <div id="latestMastodonToots">
        {% for toot in latestMastodonToots.data %}
          <a href="{{ toot.url }}" target="_blank">
            {{ toot.content|safe }}
            <span class="date">{{ toot.date }}</span>
          </a>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    window.onload = function () {
      // Source: https://blog.teamtreehouse.com/learn-asynchronous-image-loading-javascript (2019-06-06).
      var downloadingImage = new Image();
      downloadingImage.onload = function(){
        document.getElementById("homepagePicture").src = this.src;
      };
      downloadingImage.src = "{{ url_for('static', filename='img/hmmm.jpg') }}";
    }
  </script>
{% endblock %}
