<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{% block summary %}Software Engineering student at The University of Southern Denmark.{% endblock %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon.png') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.12.0/css/all.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bulma-0.8.0/css/bulma.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bulma-divider-0.2.0/css/bulma-divider.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/master.min.css') }}">
      <title>{% block title %}Frederik Holm Strøm{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
          <div class="container">
            <div class="navbar-brand">
              <strong class="navbar-item is-tagline">
                <a href="{{ url_for('home') }}">Frederik Holm Strøm</a>
              </strong>
            </div>

            <div class="navbar-menu is-active" id="navMenu">
              <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('home') }}">
                  Home
                </a>
                <a class="navbar-item" href="{{ url_for('journal') }}">
                  Journal
                </a>
                <a class="navbar-item" href="{{ url_for('projects') }}">
                  Projects
                </a>
                <a class="navbar-item" href="{{ url_for('curriculumVitae') }}">
                  Curriculum Vitae
                </a>
                <a class="navbar-item" href="{{ url_for('contact') }}">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
      {% endblock %}
    </header>
    <main>
      {% block main %}
        <div class="container is-desktop">
          <div class="columns">
            <div id="mainColumn" class="column is-two-thirds is-three-quarters-widescreen">
              {% block mainColumn %}
                <h1 class="is-size-2">{% block mainColumnTitle %}Title{% endblock %}</h1>
              {% endblock %}
            </div>
            <div id="rightColumn" class="column">
              {% block rightColumn %}
                <p>
                  My name is Frederik Holm Strøm, I am a Software Engineering student at The University of Southern Denmark. I spend most of my time <a href="https://en.wikipedia.org/wiki/Hacker_culture" target="_blank">hacking</a>, working and studying.
                </p>
                <div class="is-divider"></div>
                <div id="socialLinks" class="columns is-gapless is-mobile has-text-centered">
                  <div class="column" title="E-mail address">
                    <a href="{{ url_for('contact') }}"><i class="fas fa-at"></i></a>
                  </div>
                  <div class="column" title="RSS feed">
                    <a href="/feed.xml" target="_blank"><i class="fas fa-rss"></i></a>
                  </div>
                  <div class="column" title="GitHub">
                    <a href="https://github.com/frederikstroem" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
                  <div class="column" title="Mastodon">
                    <a href="https://fosstodon.org/@frederikstroem" target="_blank"><i class="fab fa-mastodon"></i></a>
                  </div>
                  <div class="column" title="Twitter">
                    <a href="https://twitter.com/frederikstroem" target="_blank"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="column" title="Spotify">
                    <a href="https://open.spotify.com/user/katofln" target="_blank"><i class="fab fa-spotify"></i></a>
                  </div>
                  <div class="column" title="YouTube">
                    <a href="https://www.youtube.com/channel/UCWiuCKY6E65zxDEzRcl7f4w" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
              {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
        <div class="container is-tablet">
          <div class="columns">
            <div class="column">
              <p>Made with &#9749; by Frederik Holm Strøm</p>
            </div>
            <div class="column footerLinks">
              <a href="https://download.frederikstroem.com/" target="_blank">Download page</a>
              <a href="https://github.com/frederikstroem/frederikstroem.com#third-party-software-used" target="_blank">Third-party software used</a>
              <a href="https://github.com/frederikstroem/frederikstroem.com" target="_blank">Website source code</a>
              <a href="{{ url_for('gamingNicknames') }}">Gaming nicknames</a>
              <a href="/sitemap.xml" target="_blank">Sitemap</a>
              <a href="{{ url_for('donate') }}">Donate</a>
            </div>
            <div class="column">
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                <img src="{{ url_for('static', filename='img/by.svg') }}" alt="Creative Commons Attribution (CC BY)" title="Creative Commons Attribution (CC BY)">
              </a>
              <p class="base05">
                The work on this website that has been created by me, is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>, unless otherwise noted.
              </p>
            </div>
          </div>
        </div>
      {% endblock %}
    </footer>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
